/* Common and reset codes starts here */
*{
    box-sizing: border-box; /*Means all margin, padding will be included into the given value*/
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none; /* Means outline of border */
}

html{
    background-color: rgba(181, 192, 194, 0.42);
}

body{
    background-color: rgba(163, 190, 195, 0.42);
  
}

.p-m{
    padding: 5px;
    margin: 5px:
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-s-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec_h1 {
	text-align:center;
}
/* Common and reset codes ends her*/

/* Header starts here */
.headers{
    flex-direction: column;
}

.header_top{
    display: flex;
}
.fa-icon_top{
    text-align: left;
    display:none;
}
.wlc{
    flex: 0.8;
}
.header_menu{
	display:flex;
	flex-direction:column;
	width:95%;
	transition:all 0.6s;
}

.link {
    padding: 0.5rem;
}
.link:hover {
	text-align:center;
	background-color:gray;
	width:95%;
	color:white;
}
/* Header ends here */

/* main starts here */
main{}

.article{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 185, 201);
	flex-direction: column;
	padding: 10px;
	margin: 10px;
}
.article_left{
}

.article_left h1{
	margin-bottom: 15px;
}

.article_left p{
	font-size: 1.3rem;
}
.aritcle_right{
	margin: 5px;
    
}

.aritcle_img{
    max-width: 320px;
    height: auto;  
}

	/*Education sec starts here*/
	.education h1{
		font-size: 1.7rem;
		text-align:center;
		padding-top: 2rem;
	}
	table, th, tr, td {
	border: 1px solid black;
	border-collapse:collapse;
	text-align:center;
	padding:10px;
	}
	
	.cards {
		display:flex;
		flex-direction: column;
	}
	.card {
		margin:25px;
		padding:25px;
		margin-left:auto;
		margin-right:auto;
		transition:all 0.6s;
	}
	.card table {
		
	}
	.card:hover {
	background-color:rgba(137, 144, 149, 0.203);
	box-shadow:1.5px 1.5px rgba(100, 49, 176, 0.447);
	transform:scaleY(1.1);
	color:white;
	}
	/*Education sec ends here*/
	
	/*Skills sec starts here*/
	.skills {
		border:1px solid white;
		padding:5px;
	}
	.skills_h1 {
		font-size: 1.7rem;
		text-align:center;
		padding-top: 2rem;	
		padding-bottom: 2rem;
	}
	.skills-sec{
		flex-direction: column;
	}

	.skills_image {
		padding:5px;
		margin: 1rem;
		}
			.skills_img {
			width:100%;
			height:25vh;
			transition:all 0.6s;
			}
			.skills_img:hover {
			transform:scale(1.1);
			}

	.skills_article {
		max-width:95%;
		padding: 2rem;
		margin:5px;
		}

		.skills_rating {
			padding:15px;
			margin-bottom:25px;
			border:1px solid black;
			}
		.skills_rating h1, span{
			font-size: larger;
		}

	/*Skills sec ends here*/
/* main ends here */

/*Footer sec starts here*/
.footer {
	padding:5px;
	align-items:center;
	background-color:#a3b4cf;
	flex-direction:column;
}
.copyright {
	padding-left:25px;
}
.link{
		padding-right:20px;
}
.fa_icons{
		padding-right:5px;
}
/*Footer sec ends here*/


/* Responsiveness starts here */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

/* Responsiveness ends here */